<!DOCTYPE html>
<html lang="en">
<head>
<title>商家列表</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/Public/css/bootstrap.min.css" />
<link rel="stylesheet" href="/Public/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/Public/css/fullcalendar.css" />
<link rel="stylesheet" href="/Public/css/matrix-style.css" />
<link rel="stylesheet" href="/Public/css/matrix-media.css" />
<link rel="stylesheet" href="/Public/css/uniform.css" />
<link href="/Public/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="/Public/font-awesome1/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="/Public/css/jquery.gritter.css" />

</head>
<body>

<!--Header-part-->
<include file="Index:menu" />
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">
<div id="content-header">
  <div id="breadcrumb"> 
    
    <a href="javascript:;" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="" class="current">商家列表</a>
  </div>
  
</div>
<div class="container-fluid">
  <hr>
  <form method="post" action="" name="submitForm" id="submitForm">
	  <div class="form-group">
		商家号: 
			<input type="text" name="business_id" style="width:120px;" value="{$param.business_id}"/>&nbsp;&nbsp;&nbsp;
		商家店名:&nbsp;&nbsp;&nbsp;
			<input type="text" name="name" style="width:120px;" value="{$param.name}"/>&nbsp;&nbsp;&nbsp;
		联系人:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="text" name="businame" style="width:120px;" value="{$param.businame}" />&nbsp;&nbsp;&nbsp;
		电话:
			<input type="text" name="phone" style="width:120px;" value="{$param.phone}" />&nbsp;&nbsp;&nbsp;<br><br>
		微信号:
			<input type="text" name="nikename" style="width:120px;" value="{$param.nikename}" />&nbsp;&nbsp;&nbsp;
		业务员名字:
			<input type="text" name="real_name" style="width:120px;" value="{$param.real_name}" />&nbsp;&nbsp;&nbsp;
		业务员工号:
			<input type="text" name="username" style="width:120px;" value="{$param.username}" />&nbsp;&nbsp;&nbsp;
		跟进情况:
			<select name="genjin" class="genjin" style="width:150px;">
				<option value="">--请选择--</option>
				<option value="0" <if condition=" $param.genjin eq 0 and $param.genjin neq null ">selected</if> >未回访</option>
				<option value="1" <if condition=" $param.genjin eq 1 ">selected</if> >跟进中</option>
				<option value="2" <if condition=" $param.genjin eq 2 ">selected</if> >已回访</option>
			</select>&nbsp;&nbsp;&nbsp;

			<!-- <input type="text" style="width:100px;" name="startTime" value="{$param.startTime}" onclick="change_picktime()" placeholder="起始时间"/> --
			<input type="text" style="width:100px;" name="endTime" value="{$param.endTime}" onclick="change_picktime()" placeholder="结束时间"/>
			&nbsp;&nbsp;&nbsp; -->
		
		<!-- <button type="button" class="btn btn-success" style="width:100px;">查询</button> -->
		
		
		<button type="button" class="btn btn-success search" id="" style="width:100px;">查询</button>&nbsp;&nbsp;&nbsp;
		<button type="button" class="btn btn-success export" style="width:100px;">导出</button>
		
		
		<a href="/Home/Business/add_business" class="btn btn-success btn" style="float:right;">新增商家</a>
		</div>
    </form>
  
  
  <div class="row-fluid">
   
  <div class="span11">
     <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
             <h5>商家列表</h5>
          </div>
          <div class="widget-content ">
            <table class="table table-bordered table-striped with-check">
              <thead>
                <tr>
					  <th style="width:30px;">序号</th>
					  <th>商家号</th>
					  <th>合同编号</th>
					  <th>店名</th>
					  <th>联系人</th>
					  <th>电话</th>
					  <th>地址</th>
					  <th>类型</th>
					  <th>等级</th>
					  <th>业务员</th>
					  <th>是否绑定</th>
					  <th>状态</th>
					  <th>备注</th>
					  <th>跟进情况</th>
					  <th>操作</th>
                </tr>
              </thead>
            <tbody>

       <foreach name="businessInfo" item="vo" key="ko">
                <tr>
          <td style="text-align:center;">{$ko+1}</td>  
		  <td style="text-align:center;">{$vo.business_id}</td>
          <td style="text-align:center;"><if condition="$vo.coop_id neq null">{$vo.coop_id}<else/> - </if></td>	
          <td style="text-align:center;">{$vo.name}</td> 
		  <td style="text-align:center;">{$vo.businame}</td>
		  <td style="text-align:center;">{$vo.phone}</td>
		  <td style="text-align:center;">{$vo.address}</td>
		  <td style="text-align:center;">
			  <if condition="$vo.busi_type eq 1">
				 门店加盟商
			  <elseif condition="$vo.busi_type eq 2"/>
				 经销商
			  <elseif condition="$vo.busi_type eq 3"/>	
				 代理商
			  <else/>	
				 商超连锁
			  </if>	
		  </td>
		  <td style="text-align:center;">{$vo.busi_level}</td>
          <td style="text-align:center;">{$vo.username}/{$vo.real_name}</td>
		  <td style="text-align:center;"><if condition="$vo.is_bind eq 1">已绑定<else/>未绑定</if></td>
		  <td style="text-align:center;">
			  <if condition="$vo.status eq 1">
				 <a href="javascript:void(0)" >正常</a>&nbsp;
			  <else/>
				 <a href="javascript:void(0)" style="color:#00f;">禁用</a>&nbsp;
			  </if>
		  </td>
		  <td>{$vo.remarks}</td>
		  <td>{$vo.visit_status}</td>
		  <td style="text-align:center;">
				<a href="javascript:;" onclick="" class="btn btn-danger btn-mini" style="background:#00f;">备注编辑</a>
				<a href="javascript:;" onclick="update_business({$vo.busi_id})" class="btn btn-danger btn-mini" style="background:#00f;">修改</a>
				<a href="javascript:;" onclick="del_business({$vo.busi_id})" class="btn btn-danger btn-mini" style="background:#c00;">删除</a>
		  </td>
          </tr>
		</foreach>
			 <tr>
				<td colspan="15" align="center" style="text-align:center;">
					<?php echo $businessPage?> 
				</td>
			 </tr>
        </tbody>
             
        </table>
            
          </div>
        </div>
      </div>
  
</div></div>

<!--end-main-container-part-->

<!--Footer-part-->
<include file="Index:foot" />
<!--end-Footer-part-->


<script src="/Public/js/jquery.min.js"></script> 

<script type="text/javascript">
	//删除商家
	function del_business(busi_id){
		if(confirm('确认删除该商家？删除后不可恢复！')){
			window.location.href = "/Home/Business/del_business/busi_id/"+ busi_id;
		}	
	}
	//修改商家
	function update_business(busi_id){
		window.location.href = "/Home/Business/update_business/busi_id/"+ busi_id;
	}
</script>
<script>

$(function(){

	$(".search").bind("click",function(){
		var url = "/Home/Business/business_list";  
		//更改form的action  
		$("#submitForm").attr("action", url);  
		//触发submit事件，提交表单   
		$("#submitForm").submit();  
	});
	
	$(".export").bind("click",function(){
		var url = "/Home/Business/business_list_export";  
		//更改form的action  
		$("#submitForm").attr("action", url);
		//触发submit事件，提交表单   
		$("#submitForm").submit();  
	});
	
});

</script>
<script src="/Public/js/matrix.js"></script> 
</body>
</html>