<!DOCTYPE >
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta name="keywords" content="湖南省中药材产业联盟">
<meta name="description" content="湖南省中药材产业联盟 ">

<link href="/Public/map/css/base_1.css" rel="stylesheet" type="text/css" />
<link href="/Public/map/css/style_1.css" rel="stylesheet" type="text/css" />
	
<!-- jquery -->
<script type="text/javascript" src="/Public/map/js/jquery-1.7.1_1.js"></script>
<!-- 图片滑动 -->
<script type="text/javascript" src="/Public/map/js/jquery.kinslideshow-1.2.1.min_1.js"></script>
<!-- kindEditor -->
<script type="text/javascript" src="/Public/map/js/kindeditor-min_1.js"></script>
<script type="text/javascript" src="/Public/map/js/zh_cn_1.js"></script>
<script type="text/javascript" src="/Public/map/js/default_1.js"></script>

<script type="text/javascript" src="/Public/map/js/jquery-1.10.1.min_1.js"></script>
<!-- <script type="text/javascript" src="/Public/map/js/jquery-ui.min.js"></script> -->
<script type="text/javascript" src="/Public/map/js/jquery.alerts_1.js"></script>
<link href="/Public/web/css/common.css" rel="stylesheet" type="text/css" />
<link href="/Public/web/css/style.css" rel="stylesheet" type="text/css" />
<link href="/Public/map/css/jquery.alerts_1.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
/* 控制登陆的鼠标滑过效果 */
$(function(){
	$(".login").hover(function(){
		$(".login dd").show();
		$(this).find("a").addClass("loginMouse")
	},function(){
		$(this).find("a").removeClass("loginMouse")
		$(".login dd").hide();
	});
});
</script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<style type="text/css">
    html,body{margin:0;padding:0;}
    .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
</style>
<script type="text/javascript" src="/Public/map/js/d8d8ad978a764461a07655588daeddf6.js"></script>
<script type="text/javascript" src="/Public/map/js/arearestriction_min_1.js"></script>
<script type="text/javascript" src="/Public/map/js/searchinfowindow_min_1.js"></script>
<script src="/Public/map/js/jquery_1.js" type="text/javascript"></script>
<link rel="stylesheet" href="/Public/map/css/searchinfowindow_min_1.css" />
<link rel="stylesheet" type="text/css" href="/Public/map/css/base_1.css"/>
<link rel="stylesheet" type="text/css" href="/Public/map/css/inside_1.css"/>
<link rel="stylesheet" type="text/css" href="/Public/map/css/style_1.css"/>

<body>
<!-- 头部 -->

<include file="Index:header" />

<!-- 页面主体 -->

        
<div class="maxbox fl bgf3f5ec insidecon">
     
  <div class="w960">
    <div class="maxbox fl martop">


    

      <div class="w960 fl platebg">


      		<div class="box_main_sub fn-left">
     <dl>
       <!-- <dt><img src="{$pcolInfo.thumb}"></dt> -->
       <br>
       <br>
      <dd><a href="/web/map/index/ptpcode/LMCY"><span>会员分布</span> </a></dd>
       <foreach name ="sunCol" key="key" item="val">
           <dd <if condition="$val.id eq $id">class="current"</if>  id="tags{$key+1}"   ><a href="{$val.col_url}/id/{$val.id}/ptpcode/{$ptpcode}"><span>{$val.name}</span> </a></dd>
       </foreach>
   </dl>
   </div>


      <!-- <div class="crumbs"><a class="home" href="">联盟首页</a><span class="songti">&gt;</span><a href="">会员分布</a></div> -->
  <div style="width:745px;float:left;min-height:500px;margin:0 auto;margin-top:10px;font-size:12px;">
  	<br>
  	<br>
  		<div style="float:left;width:85%;min-height:380px" id="dituContent"></div>
  		<div style="float:left;backgroud-color:red;width:14%;">
	  		<div style="width:100%;height:23px;font-size:13px;vertical-align:middle;text-align:center;font-weight: bold;">
				<span>企业类型说明</span>
			</div>
	  		<ul style="margin-top:0px;">
	  			<li style="padding-bottom:10px;"><img alt="" src="/Public/map/picture/pink1_1.png">种植类企业</li>
	  			<li style="padding-bottom:10px;"><img alt="" src="/Public/map/picture/pink2_1.png">加工类企业</li>
	  			<li style="padding-bottom:10px;"><img alt="" src="/Public/map/picture/pink3_1.png">营销类企业</li>
	  			<li style="padding-bottom:10px;"><img alt="" src="/Public/map/picture/pink4_1.png">高校</li>
	  		</ul>
  		</div>
  </div>
  </div>
  </div>
  </div>
  </div>
       
<script type="text/javascript">
	//var host = 'localhost:31680';
	var host = 'www.hnzyclm.com';
	//var url = '{:U("map/shuju")}';
	var sitetype = 'all';
	   /** 
		* 描述：js实现的map方法 
		* @returns {Map} 
		*/ 
	function Map() {
		var struct = function(key, value) {
			this.key = key;
			this.value = value;
		};
		// 添加map键值对 
		var put = function(key, value) {
			for ( var i = 0; i < this.arr.length; i++) {
				if (this.arr[i].key === key) {
					this.arr[i].value = value;
					return;
				}
			}
			;
			this.arr[this.arr.length] = new struct(key, value);
		};
		// 根据key获取value 
		var get = function(key) {
			for ( var i = 0; i < this.arr.length; i++) {
				if (this.arr[i].key === key) {
					return this.arr[i].value;
				}
			}
			return null;
		};
		// 根据key删除 
		var remove = function(key) {
			var v;
			for ( var i = 0; i < this.arr.length; i++) {
				v = this.arr.pop();
				if (v.key === key) {
					continue;
				}
				this.arr.unshift(v);
			}
		};
		// 获取map键值对个数 
		var size = function() {
			return this.arr.length;
		};
		// 判断map是否为空 
		var isEmpty = function() {
			return this.arr.length <= 0;
		};
		this.arr = new Array();
		this.get = get;
		this.put = put;
		this.remove = remove;
		this.size = size;
		this.isEmpty = isEmpty;
	}

var companyMap = new Map();
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        //获取数据
		getcompanyFromServer();
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
    }
    
    //创建地图函数：
    function createMap(){
		var map = new BMap.Map("dituContent",{minZoom:1,maxZoom:19});  
        var point = new BMap.Point(113.063766,28.232698);//定义一个中心点坐标
        map.centerAndZoom(point,13);//设定地图的中心点和坐标并将地图显示在地图容器中 		
		window.map = map;//将map变量存储在全局
    }
    
    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }
    
    //地图控件添加函数：
    function addMapControl(){
    //向地图中添加缩放控件
	var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
 	map.addControl(ctrl_nav); 
	//map.addControl(new BMap.NavigationControl({type: BMAP_NAVIGATION_CONTROL_SMALL}));		
        
	//向地图中添加缩略图控件
	var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
	map.addControl(ctrl_ove);
       
	//向地图中添加比例尺控件
	var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT}); 
	map.addControl(ctrl_sca);


    }
    
	//获取指定地点的行政区划轮廓线
	function getBoundary(areaName){       
		var bdary = new BMap.Boundary(); 
		bdary.get(areaName, function(rs){       //获取行政区域
		   // map.clearOverlays();        //清除地图覆盖物       
			var count = rs.boundaries.length; //行政区域的点有多少个
			for(var i = 0; i < count; i++){
				var ply = new BMap.Polygon(rs.boundaries[i], {strokeWeight: 2, strokeColor: "#ff0000"}); //建立多边形覆盖物
				map.addOverlay(ply);  //添加覆盖物
				map.setViewport(ply.getPath());    //调整视野         
			}                
		});   
	}

	//获取标记点
	function getcompanyFromServer(){
		$.post('http://' + host + '/mapInfor.shtml?method=list&jsoncallback=?', function(data) {
	                 jsonResponseSite(data);
	             },"json");
	}
	
	
	  //   标注点数组
   // var markerArr = [{title:"文渊馆",content:"<a href='http://baidu.com'>湖南农大文渊馆204</a>",point:"113.091076,28.183643",isOpen:1,tel:"123456",address:"湖南省"}
		 // ,{title:"燕京啤酒",content:"燕京啤酒湖南分公司1",point:"112.540047,27.721762",isOpen:0,icon:{w:23,h:25,l:46,t:21,x:9,lb:12}}
		 // ];
	
	var markerArr = null;
	var markerStr = '';
	function jsonResponseSite(data) { 
		//urls 为企业的门户访问地址
		var sites = data.site;
		var markerArr1 = '[';
		for(var j=0;j<sites.length;j++){
			var item = sites[j];
			companyMap.remove(item.id);
			companyMap.put(item.id,item);
			var enterprise = item.enterprisesDetail;
			if(enterprise!=null){    //企业属性    type1为种植  type2为加工 type3为营销
				if(enterprise.urls != "http://"){
					if(sitetype=='all'){
						markerArr1 += '{title:"' + item.name + '",content:"<a href=\\'' + enterprise.urls + '\\' target=\\'_blank\\'>' + item.name 
									+ '</a>",point:"' + enterprise.baiduLatitudes + '",isOpen:1,tel:"' + enterprise.linkTel  
									+ '",address:"' + item.detailAddress 
									+ '",type:"' + item.type + '"},'
					}else if(sitetype=='zhongzhi'){
						if(item.type =='1'){
							markerArr1 += '{title:"' + item.name + '",content:"<a href=\\'' + enterprise.urls + '\\' target=\\'_blank\\'>' + item.name 
							+ '</a>",point:"' + enterprise.baiduLatitudes + '",isOpen:1,tel:"' + enterprise.linkTel  
							+ '",address:"' + item.detailAddress 
							+ '",type:"' + item.type + '"},'
						}
					}else if(sitetype=='jiagong'){
						if(item.type =='2'){
							markerArr1 += '{title:"' + item.name + '",content:"<a href=\\'' + enterprise.urls + '\\' target=\\'_blank\\'>' + item.name 
							+ '</a>",point:"' + enterprise.baiduLatitudes + '",isOpen:1,tel:"' + enterprise.linkTel  
							+ '",address:"' + item.detailAddress 
							+ '",type:"' + item.type + '"},'
						}
					}else if(sitetype=='yingxiao'){
						if(item.type =='3'){
							markerArr1 += '{title:"' + item.name + '",content:"<a href=\\'' + enterprise.urls + '\\' target=\\'_blank\\'>' + item.name 
							+ '</a>",point:"' + enterprise.baiduLatitudes + '",isOpen:1,tel:"' + enterprise.linkTel  
							+ '",address:"' + item.detailAddress 
							+ '",type:"' + item.type + '"},'
						}
					}
				}else{
					var siteUrl = 'http://' + host + '/post.jhtml?method=viewSite&siteId='+item.id;
					if(sitetype=='all'){
						markerArr1 += '{title:"' + item.name + '",content:"<a href=\\'' + siteUrl + '\\' target=\\'_blank\\'>' + item.name 
									+ '</a>",point:"' + enterprise.baiduLatitudes + '",isOpen:1,tel:"' + enterprise.linkTel  
									+ '",address:"' + item.detailAddress 
									+ '",type:"' + item.type + '"},'
					}else if(sitetype=='zhongzhi'){
						if(item.type =='1'){
							markerArr1 += '{title:"' + item.name + '",content:"<a href=\\'' + siteUrl + '\\' target=\\'_blank\\'>' + item.name 
							+ '</a>",point:"' + enterprise.baiduLatitudes + '",isOpen:1,tel:"' + enterprise.linkTel  
							+ '",address:"' + item.detailAddress 
							+ '",type:"' + item.type + '"},'
						}
					}else if(sitetype=='jiagong'){
						if(item.type =='2'){
							markerArr1 += '{title:"' + item.name + '",content:"<a href=\\'' + siteUrl + '\\' target=\\'_blank\\'>' + item.name 
							+ '</a>",point:"' + enterprise.baiduLatitudes + '",isOpen:1,tel:"' + enterprise.linkTel  
							+ '",address:"' + item.detailAddress 
							+ '",type:"' + item.type + '"},'
						}
					}else if(sitetype=='yingxiao'){
						if(item.type =='3'){
							markerArr1 += '{title:"' + item.name + '",content:"<a href=\\'' + siteUrl + '\\' target=\\'_blank\\'>' + item.name 
							+ '</a>",point:"' + enterprise.baiduLatitudes + '",isOpen:1,tel:"' + enterprise.linkTel  
							+ '",address:"' + item.detailAddress 
							+ '",type:"' + item.type + '"},'
						}
					}					
				}
			}
		}
			
		markerStr = markerArr1.substring(0,markerArr1.length-1);
		markerStr += ']';
		markerArr = eval('(' + markerStr + ')'); //JSON.parse(markerStr); 
		addMarker();
}

    //创建marker
    function addMarker(){
        for(var i=0;i<markerArr.length;i++){ 
            var json = markerArr[i];
            var p0 = json.point.split(",")[0];
            var p1 = json.point.split(",")[1];
            var point = new BMap.Point(p0,p1);
            var type = json.type;
            var path = "/Public/map/";
            var markPath = path + "image/markers.png";
            if(type=='1'){
            	markPath = path + "picture/pink1.png";
            }else if(type=='2'){
            	markPath = path + "picture/pink2.png";
            }else if(type=='3'){
            	markPath = path + "picture/pink3.png";
            }else if(type=='4'){
            	markPath = path + "picture/pink4.png";
            }
            var myIcon = new BMap.Icon(markPath, new BMap.Size(30, 30), {    
            	   offset: new BMap.Size(10, 25),    
            	 });      			
            var marker = new BMap.Marker(point, {icon: myIcon});  
		    marker.enableDragging(); //marker可拖拽
			var label = new window.BMap.Label(json.title, { offset: new window.BMap.Size(20, -10) });  
			marker.setLabel(label);
			(function(){
				var _iw = createInfoWindow(i);
				var _marker = marker;
				_marker.addEventListener("click", function(e){
					_iw.open(_marker);
				})
			})()
			
			 map.addOverlay(marker);
        }
    }
    //创建InfoWindow
    function createInfoWindow(i){
        var json = markerArr[i];
		var content = '<div style="margin:0;line-height:20px;padding:2px;">' +
                    '<br/>站点：'+json.content + '<br/>电话：'+json.tel + '<br/>地址：'+json.address +'</div>';
				   
		//创建检索信息窗口对象
		var searchInfoWindow = null;
		searchInfoWindow = new BMapLib.SearchInfoWindow(map, content, {
				title  : json.title,      //标题
				width  : 290,             //宽度
				height : 105,              //高度
				panel  : "panel",         //检索结果面板
				enableAutoPan : true,     //自动平移
				searchTypes   :[
					BMAPLIB_TAB_SEARCH,   //周边检索
					BMAPLIB_TAB_TO_HERE,  //到这里去
					BMAPLIB_TAB_FROM_HERE //从这里出发
				]
			});
	   return searchInfoWindow;
    }

    initMap();//创建和初始化地图
</script>
<div class="maxbox fl link">
	  <include file="Index:footer" />
</div>
        



</body>
</html>
<script src="/Public/map/js/jquery.min_1.js" type="text/javascript"></script>
<script src="/Public/map/js/jquery.slides_1.js" type="text/javascript"></script>

<script language="javascript" type="text/javascript">/* ----- sliding door style ----- */


var isLogin = false;
$.ajaxSetup({
    async : false
});	      
$(document).ready(function(){
	
	$('#savepage').click(function(){
		addFavorite2();
	});	
	
	//顶部用户登录状态控制
/*	$('#topLoginBtn').click(function() {
        if($("#topUsername").val()==''){
        	$('#loginError').html('请输入用户名！');
            return;
        }
        if($("#topPassword").val()==''){
            $('#loginError').html('密码不能为空！');
            return;
        }
        $('#topRedirectUrl').val(encodeURIComponent(window.location));
        $("#topLoginForm").submit();
    });*/
	
	$('#loginA').click(function() {
    	var url = window.location.href;
/*        if(url.indexOf('#commentMark')==-1){
            url=url+'#commentMark';
        }*/
        window.location.href = "/login.jhtml?redirectUrl=/index.shtml";
    });
	
	$('#topLogoutBtn').click(function(){
        if(isLogin){
            window.location.href="/logout.jhtml?redirectUrl=" + 
            		encodeURIComponent(window.location.href);
        }
    });
	
	$('#topUsername').keyup(function(event){
        if (event.keyCode=="13"){
            $('#topLoginBtn').click();
        }
    });

    $('#topPassword').keyup(function(event){
        if (event.keyCode=="13"){
            $('#topLoginBtn').click();
        }
    });
    //validateUser("/");
    isLoggedin();
    //if (isLogin==false){
    // showCaptcha();
    //}
//     showTime();
});

function follower(){
    isLoggedin();
}

//判断是否登录
function isLoggedin(){
    $.post("/isLoggedin.jhtml", function(data){
    	//data:  true:admin:1:2
        var dataJson = data.split(':');
        var isLogged=dataJson[0];
        if(isLogged=='true'){
            var alias=dataJson[1];// 
            var memberType=dataJson[2];
            $('#topWellcome').show();
            alias = alias + '&nbsp;&nbsp;&nbsp;<a href="/question.jhtml?method=questionList&flag=2&expertName='+dataJson[1]+'" target="_blank">我的问题</a>';
            alias = alias + '&nbsp;<a onclick=\"diag(\''+dataJson[1]+'\');\" target="_blank">网络期刊</a>';
            $('#topNameLink').html(alias);
            var messageCount = dataJson[3];
            $('#messageCountSpan').html(messageCount);
            //add by liucyu 2014/2/20 begin
            var contentSize = dataJson[4];
            $('#contentCountSpan').html(contentSize);
            //add by liucyu 2014/2/20 end
            //
            
            if (memberType=="2"){
                $('#topSpaceLink').html("企业信息中心");
            }else{
                $('#topSpaceLink').html("个人信息中心");
            }

            if($('#wellcome')&&$('#nameLink')){
                $('#wellcome').show();
                $('#nameLink').html(alias);
            }
            isLogin = true;
            $('#loginA').hide();
            $('#btn_zhuce').hide();
            $('#topLogoutBtn').show();
        }else{
            //$('#topLoginForm').show();
            $('#commentLoginForm').show();
            $('#btn_zhuce').show();
            isLogin = false;
            $('#loginA').show();
            $('#topLogoutBtn').hide();
            
            //showCaptcha();
            var mUsername = getCookie("myUserName");
            var parser = document.createElement('a');
            parser.href = window.location.href;
            if(mUsername!=null && mUsername != undefined){
                $("<iframe width=0 height=0 frameborder=0 src='/login.jhtml'></iframe>").prependTo('body');
            }
        }
    });
}

function diag(pass){
// 	var str=prompt("请输入网络期刊密码","");
// 		if(str)
// 		{
// 			var userName = pass;
// 			pass = pass +'gap';
// 			if(str == pass){
// 				alert("密码正确");
// 				//window.location.href="/question.jhtml?method=questionList&flag=2&expertName="+userName;
// 				window.location.href="/contentList.jhtml?method=getContentList&channelUrl=lwqk&titleName=lwqk&flag=12";
// 			}else{
// 				alert("密码错误");
// 				return false;
// 			}
// 		}
	jPrompt('请输入网络期刊密码', '', '杂志期刊登录验证', function(str) {
	    if( str ){
			var userName = pass;
			pass = pass +'gap';
			if(str == pass){
				jAlert('验证成功', '提示');
				//window.location.href="/question.jhtml?method=questionList&flag=2&expertName="+userName;
				window.location.href="/contentList.jhtml?method=getContentList&channelUrl=lwqk&titleName=lwqk&flag=12";
			}else{
				jAlert('验证失败', '提示');
				return false;
			}
		}
	});
	}
	
//显示验证码
function showCaptcha(){
    $.post("/captcha.jhtml",{}, function(data){
        var jsonData = $.parseJSON(data);
        if (jsonData.flagCaptcha==true){
            $('#captchaImageBox').html(" <img id=/Public/map/picture/8f98bcec2b754175a491645ef94064b6.gif"captchaImage\" name=\"captchaImage\" style=\"width:60px; height:20px; border:1px solid #CCC;\" src=\"/captcha.jpg\"/>");
            $('#captchaImageBox').css("display", "");
            $('#captchaInputBox').css("display", "");
            
            $('#captchaImage').click(function () {
	            var num = Math.floor(Math.random()*100);
                $(this).hide().attr('src', '/captcha.jpg?' + num ).fadeIn();
                if($("#logincaptchaImage")){
                	$("#logincaptchaImage").hide().attr('src', '/captcha.jpg?' + num ).fadeIn(); 
                }
                if($("#captchaImageComment")){
                	$("#captchaImageComment").hide().attr('src', '/captcha.jpg?' + num ).fadeIn(); 
                }
            });
        }
    });
}

function addFavorite2() {
	var url = window.location;
	var title = document.title;
	var ua = navigator.userAgent.toLowerCase();
	if (ua.indexOf("360se") > -1) {
	alert("由于360浏览器功能限制，请按 Ctrl+D 手动收藏！");
	}
	else if (ua.indexOf("msie 8") > -1) {
	window.external.AddToFavoritesBar(url, title); //IE8
	}
	else if (document.all) {
	try{
	window.external.addFavorite(url, title);
	}catch(e){
	alert('您的浏览器不支持,请按 Ctrl+D 手动收藏!');
	}
	}
	else if (window.sidebar) {
	window.sidebar.addPanel(title, url, "");
	}
	else {
	alert('您的浏览器不支持,请按 Ctrl+D 手动收藏!');
	}
	}
	
function mbar(sobj) {
	var docurl =sobj.options[sobj.selectedIndex].value;
	if (docurl != "") {
	   open(docurl,'_blank');
	   sobj.selectedIndex=0;
	   sobj.blur();
	}
}
//-->
</script>
