.mainbody{padding-bottom:20px;position:relative;background:url(../images/mainbodybg.jpg) no-repeat center top #EDF4EC;}
.mainimg{position:absolute;left:0;bottom:0;}

.platebg{position:relative;background:#fff;}
.plate01{height:440px;overflow:hidden;}
.plate02{position:relative;}

.titleimg{position:absolute;left:10px;top:-4px;width:36px;height:46px;padding-top:2px;}
	.titleimgbg01{background:url(../images/titlebg02.png) no-repeat;}
	.titleimgbg02{background:url(../images/titlebg02.png) no-repeat;}
	.titleimgbg03{background:url(../images/titlebg02.png) no-repeat;}

.title01{margin:0 10px;padding:10px 0 5px 0;border-bottom:1px solid #ccc;height:32px;line-height:32px;}
.title01 b{margin-left:40px;float:left;font-size:24px;font-weight:normal;}
.title01 em{float:left;margin:16px 0 0 10px;}
.title01 a{float:right;}

.title02{margin:0 10px;padding:7px 0 5px 0;height:24px;line-height:24px;}
	.title02green{border-bottom:2px solid #00b32b;}
	.title02blue01{border-bottom:2px solid #00b32b;}
	.title02blue02{border-bottom:2px solid #00b32b;}
.title02 b{float:left;margin:0 10px;font-size:17px;font-weight:normal;}
.title02 em{float:left;}
.title02 .img02{padding-top:8px;}
.title02 a{float:right;}

.list01{margin:0 10px;height:130px;border-bottom:1px dotted #ccc;}
.list01 em{float:left;padding:10px 10px 0 0;width:110px;}
.list01 p{padding:10px 10px 0 0;line-height:20px;color:#787878;height:110px;overflow:hidden;}
.list01 p b{padding-bottom:10px;display:block;font-size:16px;font-weight:normal;color:#333;}


.list03{margin:7px 10px;height:130px;border-bottom:1px dotted #ccc;}
.list03 em{float:left;padding:10px 10px 0 0;width:110px;}
.list03 p{padding:10px 10px 0 0;line-height:20px;color:#787878;height:110px;overflow:hidden;}
.list03 p b{padding-bottom:10px;display:block;font-size:16px;font-weight:normal;color:#333;}


.list02{overflow:hidden;}
.list02 ul{padding:0 10px;margin-bottom:-1px;}
.list02 li{height:36px;line-height:36px;border-bottom:1px dotted #ccc;}
.list02 li a{float:left;}
.list02 li a .btn{padding-right:5px;color:#bababa;}
.list02 li a:hover .btn{color:#333;}
.list02 li em{float:right;font-style:normal;color:#999;}

/* ----- banner style ----- */
#slider{width:670px;height:440px;overflow:hidden;}
.slider_box{width:670px;margin:0 auto;height:440px;overflow:hidden;position:relative;background:#cee5ad;}
.silder_con{height:440px;overflow:hidden;position:absolute;}
.silder_panel{width:670px;height:440px;overflow:hidden;float:left;position:relative;}
.silder_panel img{width:670px;height:440px;display:block;overflow:hidden;}
/* .silder_panel b{width:195px;height:440px;overflow:hidden;position:absolute;left:0;top:0;display:block;background:rgba(0, 0, 0, 0.4)!important;filter:Alpha(opacity=40);background:#000;} */
.silder_panel b{width:195px;height:440px;overflow:hidden;position:absolute;left:0;top:0;display:block;filter:Alpha(opacity=40);}
.silder_panel span{width:160px;height:300px;display:block;line-height:22px;position:absolute;left:0;top:0;float:left;color:#fff;padding:20px 17px 20px 18px; font-weight:normal; font-size:16px;}
.silder_nav{padding:6px 0 3px 200px;height:71px;bottom:0;right:5px;position:absolute;overflow:hidden;width:470px;display:block;background:rgba(196, 222, 48, 0.5)!important;filter:Alpha(opacity=80);background:#0074ba;}
.silder_nav li{float:left;padding:0px;border:1px solid #fff; margin:2px; display:inline; position:relative;}
.silder_nav li.current{border:2px solid #227697; margin:0 2px;}
.silder_nav li,.silder_nav img{width:110px;height:64px;*height:60px;}
.silder_nav li b{position:absolute;left:0;bottom:0;width:110px;height:23px;line-height:23px;text-align:center;background:#fff;cursor:pointer; font-weight:normal;}
.sliderCon .slider_box a.prev,.sliderCon .slider_box a.next{display: block;width:45px;height:100px;overflow:hidden;text-indent: -999px;position: absolute;cursor: pointer;margin: 70px 0 0 0;background: url(../images/silder_btn.gif) no-repeat;}	
.sliderCon .slider_box a.prev{left:0;background-position: left 0;}
.sliderCon .slider_box a.next{right:0;background-position: right 0;}
.silderBox{height:5px; line-height:5px;}
.silderHot{position:absolute;left:0;bottom:0;width:195px;overflow:hidden;}

/* ----- sliding door style ----- */
.slidTab{margin:10px;position:relative;}
.slidNav{display:block;height:30px;line-height:30px;border-bottom:1px solid #00b32b;}
.slidNav li{float:left;padding:0 15px;cursor:pointer;background:#f2f2f2;font-size:14px;}
.slidNav li.cur{color:#fff;background:#00b32b;border-radius:2px 2px 0 0;}
.slidCon{
	position:relative;
//background:url(../images/btn01.gif) no-repeat 0 10px;
}
.slidCon ul{display:none;}
.slidCon ul.block{display:block;}
.slidCon li{float:left;
	padding:9.5px 0px 8px 5px;
border-bottom:1px dotted #ccc;}
.slidCon li a{float:left;height:16px;width:100%;display:block;overflow:hidden;}
.slidCon li em{
float: right;
color:#999;
display:block;
font-style:normal;
}

.slidTab02{margin:0 10px;float:left;height:570px;overflow:hidden;}
.slidNav02{float:left;width:650px;height:36px;line-height:36px;background:#f2f2f2;}
.slidNav02 li{float:left;padding:0 15px;cursor:pointer;font-size:14px;}
.slidNav02 li.cur{color:#fff;background:#00b32b;}
.slidCon02 ul{display:none;position:relative;width:680px;}
.slidCon02 ul.block{display:block;}
.slidCon02 li{float:left;padding:20px 20px 0 0;}
.slidCon02 li a{float:left;width:206px;height:240px;color:#666;}
.slidCon02 li a:hover{color:#090;}
.slidCon02 li a img{width:186px;height:186px;padding:4px;border:1px solid #e4e4e4;}
.slidCon02 li a b{padding-top:10px;display:block;font-weight:normal;font-size:14px;}


.searchBtn01 {
    width: 24px;
    height: 24px;
    border: 0;
    background: url(../images/searchbtn01.png) no-repeat #6bc30d;
    cursor: pointer;
}

.inputText {
    border: 1px solid #6bc30d;
    background: #fff;
    padding-left: 2px;
}

.martop10 {
    margin-top: 5px;
    display: inline;
    float: left;
}
.inputWidth02 {
    width: 160px;
    height: 18px;
}


.searchTop{ padding:20px 0; border-bottom:1px solid #f1f1f1;}
	.searchOper span{ float:left; padding-right:10px;}
	.searchOper .operBtn{ background:#090; height:32px; color:#fff; width:100px;border:0; cursor:pointer; font-size:20px;}
	.searchResuit{clear:both;padding-top:10px;color:#787878;}
	
	.hotKey ul{padding-top:20px;}
	.hotKey li{ float:left; padding:0 5px 10px 0;}
	.hotKey li a{ background:#f1f1f1;padding:3px 5px;white-space:nowrap;color:#787878;}
	.hotKey li a:hover{color:#090;}
	
	
	.newsBody{background:#fff;margin-bottom:10px;display:inline; padding-top:20px;}

.newsLeft{float:left;width:650px; padding-right:19px;border-right:1px solid #f1f1f1;overflow:hidden;}
.newsList{float:left;width:650px;}
.newsList dl{float:left;border-bottom:1px solid #f1f1f1;position:relative;}
.newsList dt{float:left;padding-right:20px;}
.newsList dt img{width:120px;height:100px;}
.newsList dd b{height:30px;display:block;font-size:16px;font-weight:normal;}
.newsList dd .brief{display:block;color:#787878;height:55px;overflow:hidden;}
.newsList dd .info{color:#aeaeae;}
.newsList dd .info strong{font-weight:normal;padding-right:10px;}


.box {
    width: 960px;
    margin: 0 auto;
}


.page {
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 20px 0 10px 0;
    clear: both;
}

.box960{float:left;width:960px;}
	