<!DOCTYPE html>
<html lang="en">
<head>
<!-- 二维码兑换单列表 -->
<title>订单列表</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/Public/css/bootstrap.min.css" />
<link rel="stylesheet" href="/Public/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/Public/css/fullcalendar.css" />
<link rel="stylesheet" href="/Public/css/matrix-style.css" />
<link rel="stylesheet" href="/Public/css/matrix-media.css" />
<link rel="stylesheet" href="/Public/css/uniform.css" />
<link href="/Public/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="/Public/font-awesome1/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="/Public/css/jquery.gritter.css" />

</head>
<body>

<!--Header-part-->
<include file="Index:menu" />
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">
<div id="content-header">
  <div id="breadcrumb"> 
    
    <a href="javascript:;" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#" class="tip-bottom">兑换单列表</a>
  </div>
  <!-- <h1>订单</h1> -->
</div>
<div class="container-fluid">
  
  <div class="row-fluid">
   
  <div class="span11">
     <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
             <h5>兑换单列表</h5>
          </div>
          <div class="widget-content ">
            <table class="table table-bordered table-striped with-check">
              <thead>
                <tr>
					  
					  <th style="width:30px;">序号</th>
					  <th>兑换单号</th>
					  <th>兑换时间</th>
					  <th>会员ID</th>
					  <th>商品名称</th>
					  
					  <th>商品数量</th>
					  <th>使用积分</th>
					  <th>商家号</th>
					 
                </tr>
              </thead>
            <tbody>

       <volist name="erOrderInfo" id="vo">
          <tr>
         
          <td style="text-align:center;">{$vo.id}</td>   
		  <td style="text-align:center;">{$vo.orderno}</td>
          <td style="text-align:center;">{$vo.time|date="Y-m-d H:i:s",###}</td>	
          <td style="text-align:center;">{$vo.user_id}</td> 
		  <td style="text-align:center;">{$vo.name}</td>
		  
		  <td style="text-align:center;">1</td>
		  <td style="text-align:center;">{$vo.points}</td>
		  <td style="text-align:center;">{$vo.business_id}</td>

          </tr>
      </volist>
			 <tr>
				<td colspan="13" align="center" style="text-align:center;">
					<?php echo $erOrderPage?> 
				</td>
			 </tr>
              </tbody>
             
            </table>
            
          </div>
        </div>
      </div>
  
</div></div>

<!--end-main-container-part-->

<!--Footer-part-->
<include file="Index:foot" />
<!--end-Footer-part-->

<script src="/Public/js/excanvas.min.js"></script> 
<script src="/Public/js/jquery.min.js"></script> 
<script src="/Public/js/jquery.ui.custom.js"></script> 
<script src="/Public/js/bootstrap.min.js"></script> 
<script src="/Public/js/jquery.flot.min.js"></script> 
<script src="/Public/js/jquery.flot.resize.min.js"></script> 
<script src="/Public/js/jquery.peity.min.js"></script> 
<script src="/Public/js/fullcalendar.min.js"></script> 
<script src="/Public/js/matrix.js"></script> 
<script src="/Public/js/matrix.dashboard.js"></script> 
<script src="/Public/js/jquery.gritter.min.js"></script> 
<script src="/Public/js/matrix.interface.js"></script> 
<script src="/Public/js/matrix.chat.js"></script> 
<script src="/Public/js/jquery.validate.js"></script> 
<script src="/Public/js/matrix.form_validation.js"></script> 
<script src="/Public/js/jquery.wizard.js"></script> 
<script src="/Public/js/jquery.uniform.js"></script> 
<script src="/Public/js/select2.min.js"></script> 
<script src="/Public/js/matrix.popover.js"></script> 
<script src="/Public/js/jquery.dataTables.min.js"></script> 
<script src="/Public/js/matrix.tables.js"></script>

<script type="text/javascript">
	//禁用商家
	function freezeBusiness(busi_id){
		//alert(busi_id);exit;
		if(confirm('确认要冻结该商家？')){
			window.location.href = "/Home/Business/freezeBusiness/busi_id/"+ busi_id;
		}	
	}

	//解禁商家
	function unfreezeBusiness(busi_id){
		if(confirm('确认要解禁该商家？')){
			window.location.href = "/Home/Business/unfreezeBusiness/busi_id/"+ busi_id;
		}	
	}
	
	//删除商家
	function delBusiness(busi_id){
		if(confirm('确认删除该商家？删除后不可恢复！')){
			window.location.href = "/Home/Business/delBusiness/busi_id/"+ busi_id;
		}	
	}
	
	//修改商家
	function updateBusiness(busi_id){
		if(confirm('确认修改该商家信息？')){
			window.location.href = "/Home/Business/updateBusiness/busi_id/"+ busi_id;
		}
	}
	
  function goPage (newURL) {
      // if url is empty, skip the menu dividers and reset the menu selection to default
      if (newURL != "") {
      
          // if url is "-", it is this page -- reset the menu:
          if (newURL == "-" ) {
              resetMenu();            
          } 
          // else, send page to designated URL            
          else {  
            document.location.href = newURL;
          }
      }
  }

// resets the menu selection upon entry to this page:
function resetMenu() {
   document.gomenu.selector.selectedIndex = 2;
}
</script>
</body>
</html>